body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 0px 120px;
    color: white;
    padding-bottom: 40px;
    border: none;
}

.header-container{
    display: flex;
    justify-content: space-between;
    gap: 50px
}

.left-side {
    flex-grow: 1;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>h1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

header>ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

header>ul, .header-container>.left-side>p {
    font-size: 18px;
}
.header-container>.left-side>h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.header-container>.left-side>p {
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: white;
}

.left-side>button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    padding: 8px 15px;
}

.image-placeholder {
    padding: 40px 60px 40px 60px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    gap: 20px;

}

.information>h1 {
    font-size: 36px;
    color: #1F2937;
}
.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.info {
    max-width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}
.box {
    height: 100px;
    width: 100px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.quote-section {
    background-color: #E5E7EB;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
}

.text-container>.text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-attribution {
    margin-top: 5px;
    font-weight: bold;
    align-self: flex-end;
    font-size: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
